<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Cost Calc</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a new parcel</h1>
    <form action="/parcels" method="post">
     <label for="sideA">sideA</label>
     <input id="sideA" name="sideA" type="number">
     <br>
     <label for="sideB">sideB</label>
     <input id="sideB" name="sideB" type="number">
     <br>
     <label for="sideC">sideC</label>
     <input id="sideC" name="sideC" type="number">
     <br>
     <label for="weight">weight</label>
     <input id="weight" name="weight" type="number">
     <br>
     <label for="note">note</label>
     <input id="note" name="note" type="text">
     <button type="submit">Submit</button>
    </form>
  </body>
</html>