<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Cost Calc</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Parcel Cost Calculator</h1>
    <p> This postage calculator allows the user to enter a the dimensions and weight of a package and receive a shipping cost. <br> Users are able to view a list of packages previously entered and click to view a page about a specific package</p>
    
    <a href='/parcels/new'>Add a new parcel</a>
  </body>
</html>